:root {
  --bg-color: rgb(230 230 237);
  --inverted-bg-color: rgb(9 9 42);
  --primary-color: rgb(28 7 163);
  --secondary-color: rgb(67 111 239);
  --inverted-primary-color: rgb(126 227 126);
  --inverted-secondary-color: rgb(216 242 216);
}
